<body>
  <header class="header" href="#" [routerLink]="['/panel']" routerLinkActive="router-link-active">POEMS BLOG/USERS</header>

  <div class="container bg-light">
    <div class="search-bar mb-4">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Buscar usuarios..."
        (input)="onSearch($event)"
      />
    </div>
  
    <div class="users-container">
      <div *ngFor="let user of filteredUsers" class="user-card text-center" (click)="viewUserProfile(user.id)">
        <img [src]="user.image_url || 'assets/default-avatar.jpg'" alt="Imagen de perfil" class="user-image">
        <h5 class="user-name">{{ user.username }}</h5>
      </div>
    </div>
  
    <div class="pagination d-flex justify-content-center mt-4">
      <button class="btn btn-dark mx-2" (click)="goToPreviousPage()" [disabled]="currentPage === 1">
        ⬅ Anterior
      </button>
      <span class="align-self-center">Página {{ currentPage }} de {{ totalPages }}</span>
      <button class="btn btn-dark mx-2" (click)="goToNextPage()" [disabled]="currentPage === totalPages">
        Siguiente ➡
      </button>
    </div>
  </div>
  
  <footer class="footer">&copy;2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA.</footer>
</body>
