<body>
  <app-sidebar></app-sidebar>
  <header class="header" href="#" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">POEMS BLOG/</header>
  <div class="container"> 
    <div class="search-bar mb-4">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Buscar poemas..."
        (input)="onSearch($event)"
      />
    </div>
  <!-- Listado de poemas -->
  <div class="row g-4 w-100">
    <div class="col-md-4 col-sm-6" *ngFor="let poem of filteredPoems">
      <div class="card shadow-sm p-3 rounded-4 poem-card" (click)="goToDetail(poem.id)">
        <div class="card-body">
          <h5 class="card-title fw-bold" style="font-size: 1.3rem;">{{ poem.title }}</h5>
          <p class="card-text" style="font-size: 1rem;">{{ poem.description }}</p>
          <p class="mb-0 text-muted small"><strong>Autor:</strong> {{ poem?.author_name }}</p>
          <p class="card-text text-muted small"><strong>Creado:</strong> {{ poem.date_created | date }}</p>
        </div>
      </div>
    </div>
  </div>
    <!-- Paginación -->
    <div class="pagination">
      <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">⬅ Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Siguiente ➡</button>
    </div>
  </div>
  <footer class="footer">&copy;2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA.</footer>
</body>
