<div class="container-fluid vh-100 d-flex">
    <!-- Columna izquierda -->
    <div class="col-md-3 bg-light text-center d-flex flex-column justify-content-center align-items-center">
      <h1 class="display-4">Bienvenido, {{ username }}!</h1>
      <button class="btn btn-outline-secondary mt-3" (click)="logout()">CERRAR SESIÓN</button>
      <footer class="mt-auto text-muted small">
        ©2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA.
      </footer>
    </div>
  
    <!-- Columna derecha -->
    <div class="col-md-9 bg-white p-5">
      <h2 class="text-center mb-4">Tus Poemas</h2>
      <!-- Componente de lista de poemas -->
      <app-poems-list [userId]="userId"></app-poems-list>
    </div>
  </div>
  