<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<div class="sidebar">
  <div class="user-avatar" (click)="navigateTo('profile')">
    <img [src]="user.image_url" alt="Imagen de perfil">

  </div>
  
  <div class="nav-icons">
    <a (click)="navigateTo('create-poem')">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <a routerLink="/settings">
      <i class="fas fa-cog"></i>
    </a>
    <i class="bi bi-house"></i>

    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-power-off"></i>
    </button>
  </div>
</div>




