<div class="main-container">
  <header>
    <nav>
      <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">INICIAR SESIÓN</a>
    </nav>
  </header>

  <div class="container-fluid vh-100 d-flex">
    <!-- Sección Izquierda -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-start bg-light text-start p-5">
      <h1 class="display-1 fw-bold">Poems Blog/</h1>
      <button class="btn btn-outline-dark btn-lg mt-4" [routerLink]="['/homepublic']" routerLinkActive="router-link-active">
        DESCUBRE POEMAS
      </button>
    </div>

    <!-- Sección Derecha -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-light p-5 shadow-lg login-container">
      <h2 class="fw-bold mb-4">¡REGÍSTRATE!</h2>
      <form class="w-75 register-form" [formGroup]="registerForm" (ngSubmit)="submit()">
        <input type="text" class="form-control" placeholder="Nombre" formControlName="firstname" />
        <input type="text" class="form-control" placeholder="Apellido" formControlName="lastname" />
        <input type="text" class="form-control" placeholder="Usuario" formControlName="username" />

        <select class="form-control" formControlName="gender">
          <option value="">Género (opciones)</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
        </select>

        <input type="text" class="form-control" placeholder="Descripción" formControlName="description" />
        <input type="email" class="form-control" placeholder="Correo" formControlName="email" />
        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />

        <button type="submit" class="btn-dark w-100">REGISTRARSE</button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <small>
    ©2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA. | 
    <a href="#">SOBRE NOSOTROS</a>
  </small>
</footer>
