<body>
  <header class="header" href="#" [routerLink]="['/']" routerLinkActive="router-link-active">POEMS BLOG/VER POEMA</header>

  <div class="main-content d-flex">
    <app-sidebar class="sidebar">
      <div class="sidebar-icons">
        <i class="bi bi-pencil"></i>
        <i class="bi bi-gear"></i>
      </div>
    </app-sidebar>

    <div class="container-fluid d-flex flex-grow-1 p-4">
      <div class="poem-container">
        <h2 class="poem-title">{{ poem?.title }}</h2>

        <div class="d-flex author-box">
          <div class="author-info"><strong>AUTOR:</strong> {{ poem?.author_name }}</div>
          <div class="genre-info"><strong>GÉNERO:</strong> {{ poem?.genre }}</div>
        </div>

        <div class="poem-content">
          <p *ngFor="let line of poem?.content?.split('\n')">{{ line }}</p>
        </div>
      </div>

      <div class="rating-container">
        <h3 class="rating-title">RATINGS :{{ averageRating ? averageRating.toFixed(2) : 'N/A' }} ⭐</h3>

        <div *ngIf="ratings.length > 0; else noRatings">
          <div *ngFor="let rating of ratings" class="review">
            <strong>Estrellas: {{ rating.stars }}</strong>
            <p>{{ rating.comment }}</p>
            <p><small><strong>Autor:</strong> {{ rating.author_name || 'Anónimo' }}</small></p>
            <p class="text-muted small"><strong>Creado:</strong> {{ rating.date_created | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <ng-template #noRatings>
          <p class="text-center text-muted">No hay ratings disponibles para este poema.</p>
        </ng-template>

        <button class="opinion-btn" (click)="goToRate()">DIME QUÉ PIENSAS</button>
      </div>
    </div>
  </div>

  <footer class="footer">©2024 POEMS BLOG / EL LUGAR DONDE LAS PALABRAS COBRAN VIDA.</footer>
</body>
