
<body>
  <div class="main-container">
    <header>
      <nav>
        <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">INICIAR SESIÓN</a>
        <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">REGISTRARSE</a>
      </nav>
    </header>

    <div class="container d-flex align-items-center">
      <div class="content">
        <h1 class="main-title">Poems Blog/</h1>
        <button class="custom-btn" [routerLink]="['/homepublic']" routerLinkActive="router-link-active">DESCUBRE POEMAS</button>
      </div>
      <ul class="list-unstyled fs-5">
        <li>• Publica tus poemas.</li>
        <li>• Descubre joyas ocultas.</li>
        <li>• Conéctate con artistas.</li>
        <li>• Mejora tu escritura.</li>
      </ul>
      <div class="image-container">
        <img src="assets/images/home-ilustration.png" alt="Home Illustration" class="img-fluid">
      </div>
    </div>

    <footer>
      <small>
        ©2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA. | 
        <a href="#">SOBRE NOSOTROS</a>
      </small>
    </footer>
  </div>
</body>
