<div class="main-container">
  <header>
    <nav>
      <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">REGISTRARSE</a>
    </nav>
  </header>
  <div class="container-fluid vh-100 d-flex">

    <div class="col-md-6 d-flex flex-column justify-content-center align-items-start bg-light text-start p-5">
      <h1 class="display-1 fw-bold">Poems Blog/</h1>
      <button class="btn btn-outline-dark btn-lg mt-4" href="#" [routerLink]="['/homepublic']" routerLinkActive="router-link-active">DESCUBRE POEMAS</button>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-light p-5 shadow-lg login-container">
      <h2 class="fw-bold mb-4">¡BIENVENIDO!</h2>
      <form class="w-75" (ngSubmit)="login()">
        <div class="mb-3">
          <input
            [(ngModel)]="email"
            name="email"
            type="email"
            id="email"
            class="form-control"
            placeholder="Correo"
          />
        </div>
        <div class="mb-3">
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            id="password"
            class="form-control"
            placeholder="Contraseña"
          />
        </div>
        <button type="submit" class="btn btn-dark w-100">INICIAR SESIÓN</button>
        <button type="button" class="btn btn-dark w-100 mt-3" (click)="adminLogin()">
          INICIAR SESIÓN COMO ADMIN
        </button>
      </form>
    </div>
  </div>
</div>
<footer>
  <small>
    ©2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA. | 
    <a href="#">SOBRE NOSOTROS</a>
  </small>
</footer>