
  <header class="header">POEMS BLOG/</header>
<div class="container"> 
  <div class="search-bar mb-4">
    <input
      type="text"
      class="form-control form-control-lg"
      placeholder="Buscar poemas..."
      (input)="onSearch($event)"
    />

  <div class="poems-container">
    <div class="poem-card" *ngFor="let poem of poems">
      <h3>{{ poem.title }}</h3>
      <p>{{ poem.description }}</p>
      <div class="poem-footer">
        <span>Autor: {{ poem.author || 'Desconocido' }}</span>
        <span>Creado: {{ poem.date_created | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
  </div>
  <footer class="footer">&copy;2024 POEMS BLOG/ EL LUGAR DONDE LAS PALABRAS COBRAN VIDA.</footer>
</div>
