.container-fluid {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.profile-box, .desc-box, .stats-box, .security-box {
  width: 100%;
  padding: 20px;
  background-color: #F8F6F2;
  border-radius: 15px;
  text-align: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-save {
  background-color: #d6d6d6;
  color: black;
  border-radius: 10px;
}

.btn-danger {
  background-color: #FF5C5C;
  color: white;
  font-weight: bold;
}
